@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1624435087929') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e665";
  font-size: 25px;
  color: #00bf03;
}

.icon-QQ:before {
  content: "\e667";
  font-size: 25px;
  color:rgb(16,164,255);
}

